{{!-- {{log "item-nav.hbs this" this}}
{{log "item-nav.hbs data" data}}
{{log "item-nav.hbs item" item}} --}}

<nav class="sheet-tabs" data-group="primary">
    <div class="tabs flexrow">
        <a class="item" data-tab="description">Description</a>
        {{#includes item.type 'item||weapon||armor||skill||ability||potion||spell'}}
            <a class="item" data-tab="actions">Actions</a>
        {{/includes}}

        {{#ifnoteq item.type 'currency'}}
            <a class="item" data-tab="attributes">Attributes</a>
        {{/ifnoteq}}

        {{#if (eq item.type 'container')}}
            <a class="item" data-tab="contents">{{localize "ARS.contents"}}</a>
        {{else}}
            {{#if item.system.itemList.length}}
                <a class="item" data-tab="contents">{{localize "ARS.contents"}}</a>
            {{/if}}
        {{/if}}

        {{#includes item.type 'spell||currency'}}
            {{else}}
                <a class="item" data-tab="effects">Effects</a>
        {{/includes}}
    </div>
</nav>